<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/styles.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Login</title>
</head>

<body id="login-page">
  <nav class="navbar sticky-top navbar-light bg-faded stick-top main-background-color">
    <a class="navbar-brand navbar-title" href="#">Talk App</a>
  </nav>
  <h2>Sign Up</h2>
  <form id="sign-up-form" action="/users/login" method="POST">
  <div class="form-center">
    <p>Username<br><input id="username" name="username" type="text" class="input-text" placeholder="e.g., John Doe" required></input></p>
    <p>Email<br><input id="email" name="email" class="input-text" type="email" placeholder="e.g., jdoe@gmail.com" required></p>
    <p>Password<br><input id="password" name="password" class="input-text" type="password" placeholder="" required></input></p>
    <p>Confirm Password<br><input id="confirm-password" class="input-text" type="password" placeholder="" required></input></p>
    <p><input type="checkbox"></input>Remember Me? <input type="submit" value="Sign Up"></p>
  </div>
  </form>
  <h2>Login</h2>
  <form id="login-form" action="/users/index" method="POST">
  <div class="form-center">
    <p>Email<br><input id="username" name="email" class="input-text" type="text" placeholder="e.g., jdoe@gmail.com" required></input></p>
    <p>Password<br><input id="confirm-password" name="password" class="input-text" type="password" placeholder="" required></input></p>
    <p><input type="checkbox"></input>Remember Me?<input class="input-login" type="submit" value="Log in"></p>
  </div>
  </form>
</body>
<script type="text/javascript" src="../javascripts/login.js"></script>

</html>
